<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikhil.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccount" />
        <activity android:name=".TermsOfUse" />
        <activity android:name=".HomePage" />
        <activity android:name=".RequestDashboard" />
        <activity android:name=".AcceptPage" />
        <activity android:name=".CancelPage" />
        <activity android:name=".PreventAcceptPage" />
        <activity android:name=".NewRequestPage" />
        <activity android:name=".RequestConfirmPage" />
        <activity android:name=".RequestStatusPage" />
        <activity android:name=".DonorMessagePage" />
        <activity android:name=".CloseRequestPage" />
        <activity android:name=".ExtendRequestPage" />
        <activity android:name=".DonationConfirmPage" />
        <activity android:name=".ThankyouDonorPage" />
        <activity android:name=".DonorProfilePage" />
        <activity android:name=".ManualDonationPage"></activity>
    </application>

</manifest>